@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(img/bg3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 1%; 
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.question-cont{
    text-align: center;
    max-width: fit-content;
}

.question-cont h1 {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.line {
    width: 10rem;
    height: 0.1rem;
    margin-bottom: 1.5rem;
    background-color: black;
}

.selection {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1rem;
}

.selection button {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    width: 45rem;
    height: 4rem;
    font-size: 1rem;
    text-align: left;
    padding-left: 3rem;
    background-color: white;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(0 0 0.20rem gray);
    transition: 0.5s;
    cursor: pointer;
}

.selection button:hover {
    background-color: #FFC25F;
    filter: drop-shadow(0 0 0.20rem #FFC25F);
}

.selection button span {
    text-align: center;
    padding-top: 0.4rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #FFECDB;
    font-weight: 600;
    color: #FF475D;
}

.next {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FFC25F;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  margin-top: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.next:hover {
  background-color: #fff;
  color: #FFC25F;
  border: 2px solid #FFC25F;
  box-shadow: 5px 5px 0px #FFC25F;
}

#modal-btn {
  display: none;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #FFC25F;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  margin-top: 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

#modal-btn:hover {
  background-color: #fff;
  color: #FFC25F;
  border: 2px solid #FFC25F;
  box-shadow: 5px 5px 0px #FFC25F;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  /* Modal Content */
  .modal-content {
    background-image: url(img/Results.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 1%; 
    margin: auto;
    margin-bottom: 1rem;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    min-height: 90%;
    border-radius: 20px;
  }

  /* The Close Button */
  .close {
    color: #000000;
    float: right;
    font-size: 40px;
    font-weight: bold;
    transition: 0.5s;
  }

  .close:hover,
  .close:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }

  /* score */

  .score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin-inline: auto;
    margin-top: 7rem;
    gap: 2rem;
  }

  .score-container p {
    font-size: 2rem;
    font-weight: 600;
  }

  .score-container h1 {
    font-size: 8rem;
    color: white;
    font-weight: 600;
  }

  .score-container a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
  }

  .score-container a:hover {
    text-decoration: underline;
  }
